/* CSS Document */

#mathilda-area
{margin-top:60px;}

.mathilda-tweet
{margin-bottom:60px;clear:both;}

.mathilda-tweet-symbol
{float:left;box-shadow:none !important;}

.mathilda-tweet-dateandtime
{margin-bottom:3px;font-size:80% !important;}

.mathilda-tweet-text, .mathilda-tweet-url, .mathilda-tweet-dateandtime
{margin-left:50px;}

.mathilda_tweet_image
{width:100%;}

.mathilda-url-follows
{margin-bottom:0px;}

.mathilda_bottom_forward
{margin-top:80px;margin-bottom:40px;}

.mathilda_bottom_forward_number
{margin-right:30px;float:left;padding-bottom:30px;box-shadow:none !important;border-bottom:0 !important;text-decoration:none !important;}

.mathilda_bottom_forward .active
{font-weight:bold;}